img {
  width: 100%;
  height: auto;
  display: block;
}
.body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
/***** menu *****/
.logo {
  font-family: league gothic;
  font-size: 4vw;
  color: #839f7c;
}

header {
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee5e2;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-family: inter;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #839f7c;
}

.logo a {
  font-weight: 100;
  text-decoration: none;
  color: #839f7c;
  display: none;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }
}

body {
  background-color: #eee5e2;
}

h1 {
  font-family: league gothic;
  color: #839f7c;
  font-size: 6rem;
  margin: 0;
  text-align: center;
}

.velkommen_p {
  text-align: center;
  max-width: 50ch;
  margin: 0 auto;
}

p {
  color: #839f7c;
  font-family: inter;
  max-width: 50ch;
  font-size: 15px;
  margin-top: 4%;
}

.footer p {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.knap {
  align-self: end;
  justify-self: end;
  color: white;
  background-color: #839f7c;
  text-decoration: none;
  border-radius: 2rem;
  text-align: center;
  margin: 0.1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  scale: 2.5;
}

a.knap {
  font-family: inter;
  font-size: smaller;
}

/***** footer i desktop *****/
@media (min-width: 700px) {
  .footer {
    display: flex;
    font-family: inter;
    justify-content: space-around;
    text-align: left;
    font-size: 0.7rem;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer p {
    text-align: left;
    color: black;
  }
}
.pkursiv {
  font-style: italic;
}

.footer p {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

/***** footer i desktop *****/
@media (min-width: 700px) {
  .footer {
    display: flex;
    font-family: inter;
    justify-content: space-around;
    text-align: left;
    font-size: 0.7rem;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer p {
    text-align: left;
    color: black;
  }
}

@media (min-width: 700px) {
  .grid_titel {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    text-align: left;
    margin-left: 5%;
  }

  .velkommen_p {
    text-align: left;
    max-width: 65ch;
  }

  .grid_forside {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    margin-right: 5%;
  }

  .video {
    grid-column: 1/-1;
    grid-row: 1/-1;
    object-fit: cover;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .knap {
    grid-column: 4;
    grid-row: 3;
    align-self: end;
    justify-self: end;
    color: white;
    background-color: #839f7c;
    text-decoration: none;
    border-radius: 2rem;
    text-align: center;
    margin: 0.1rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }
}

.grid_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid_forside img {
  /*hvor meget det skal fylde på siden*/
  grid-column: 1/4;
  grid-row: 1/3;
}

.grid_forside a {
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  z-index: 1;
}
